@model IEnumerable<TechnicalExamWebApp.Models.Transaction>

@{
    ViewBag.Title = "Home Page";
}
<div class="box box-primary">
    <div class="description-block border-right">
        <a href="@Url.Action("ImportExcel", "Home")" class="btn btn-block btn-primary btn-social">
            <i class="fa fa-close"></i> Import File
        </a>
    </div>
    <br />
    <div class="box-tools">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="input-group" style="width: 500px;">
                @Html.TextBox("fr", "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })

                @Html.TextBox("to", "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                <input type="text" name="searchString" class="form-control pull-right" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-warning" style="margin-right: 5px;"><i class="fa fa-search"> Search</i></button>
                </div>
            </div>

        }
    </div>
    <br />
    <div class="box-header">
        <table id="exportable" class="table table-striped">
            <thead style="border: 1px solid #dddddd; background-color:#dddddd; text-align:center" class="text-primary">
                <tr>
                    <th>Reference Number</th>
                    <th>Quantiy</th>
                    <th>Amount</th>
                    <th>Name</th>
                    <th>Transaction Date</th>
                    <th>Symbol</th>
                    <th>Order Side</th>
                    <th>Order Status</th>
                </tr>
            </thead>
            <tbody>
                @{

                    foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.Reference_Number</td>
                            <td>@item.Quantity</td>
                            <td>@item.Amount </td>
                            <td>@item.Name </td>
                            <td>@item.Transaction_Date  </td>
                            <td>@item.Symbol  </td>
                            <td>@item.Order_Side</td>
                            <td>@item.Order_Status</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>

</div>
@using (Html.BeginForm("Index", "Home", new { fr = ViewBag.DateFr, to = ViewBag.DateTo }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="modal modal-title fade" id="modalDateRange">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class=" modal-header btn-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"> Filter Reservation</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <b>Date From</b>
                                @Html.TextBox("fr", "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <b>Date To</b>
                                @Html.TextBox("to", "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.CheckBox("chkForApproval", false, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Label("For approval")
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBox("chkApproved", false, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Label("Approved")
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBox("chkSetupReady", false, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Label("Setup Ready")
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBox("chkCancelled", false, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Label("Cancelled")
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBox("chkClosed", false, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Label("Closed")
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Proceed</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}

<style>
    table {
        font-family: arial, sans-serif;
        font: bolder;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        height: 20px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    tr {
        white-space: nowrap;
    }
</style>
<style>
    .card-header .btn-link:before {
        float: right !important;
        font-family: FontAwesome;
        content: "\f068";
        padding-left: 5px;
    }

    .card-header .btn-link.collapsed:before {
        float: right !important;
        content: "\f067";
    }
</style>

<style>
    tbody tr:hover {
        cursor: pointer;
        color: lightseagreen;
    }

    tr:hover {
        background-color: coral;
    }

    table {
        font-family: arial, sans-serif;
        font: bolder;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        height: 20px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    tr {
        white-space: nowrap;
    }
</style>


